{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-6">
                    <!-- Billing Details -->
                    <div class="billing-details">
                      
                        <div class="section-title">
                            <h3 class="title">DİĞER BİLGİLER</h3>
                        </div>
                        <form action="{% url "adres" %}" method="POST">
                            {% csrf_token %}
                        <div class="form-group">
                            <input class="input" type="text" name="first_name" placeholder="Adınız">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="last_name" placeholder="Soyadınız">
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="email" placeholder="E-mailiniz">
                        </div>
                    </div>
                    <button type="submit" class="primary-btn order-submit">Kaydet</button>
                    <!-- /Billing Details -->
                    </form> 
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    {% endblock content %}